<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ScoutTrek</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
	  <!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) sử dụng apple music</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) luôn truy cập bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) kết nối thiết bị ngoại vi bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) sử dụng lịch</string>
	<key>NSCameraUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) sử dụng camera để chụp ảnh đăng lên trang cá nhân hoặc gửi bạn bè</string>
	<key>NSContactsUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) sẽ nạp thông tin danh bạ lên máy chủ, nhằm đồng bộ danh bạ với bạn bè</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) sử dụng vị trí để tìm những bài viết xung quanh</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Luôn cho phép $(PRODUCT_NAME) sử dụng vị trí để tìm những bài viết xung quanh</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) sử dụng vị trí để tìm những bài viết xung quanh khi dùng ứng dụng</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) sử dụng microphone để gửi tin nhắn thoại đến bạn bè</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) truy cập bổ sung kho ảnh</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) truy cập kho ảnh để lưu tải về</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
